---
format: 
    html: 
        code-fold: true 
        embed-resources: true
---

In [9]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from matplotlib.colors import to_rgba
import seaborn as sns

df = pd.read_csv('../data/cleaned_security_incidents.csv')

In [18]:
# Function to create styled tables with "Unknown" highlighted in red
def create_styled_table(series_counts, title):
    # Convert to DataFrame for styling
    df_counts = series_counts.reset_index()
    df_counts.columns = ['Category', 'Count']
    
    # Define styling function
    def highlight_unknown(row):
        # Check if the category contains any form of "unknown" (case insensitive)
        if ('unknown' in str(row['Category']).lower()):
            return ['background-color: rgba(255, 0, 0, 0.2)']*len(row)
        else:
            return ['background-color: transparent']*len(row)
    
    # Apply styling
    styled_df = df_counts.style.apply(highlight_unknown, axis=1)
    
    # Add title and other formatting
    styled_df = styled_df.set_caption(title).set_table_styles([
        {'selector': 'caption', 'props': [('font-weight', 'bold'), 
                                         ('font-size', '1.1em'),
                                         ('text-align', 'center')]},
        {'selector': 'th', 'props': [('text-align', 'center'), 
                                    ('background-color', '#f2f2f2')]},
        {'selector': 'td', 'props': [('text-align', 'center')]}
    ])
    
    return styled_df

# Get value counts for each category
means_counts = df['means_of_attack'].value_counts()
context_counts = df['attack_context'].value_counts()
actor_counts = df['actor_type'].value_counts()
motive_counts = df['motive'].value_counts()

# Create styled tables
styled_means = create_styled_table(means_counts, 'Means of Attack')
styled_context = create_styled_table(context_counts, 'Attack Context')
styled_actor = create_styled_table(actor_counts, 'Actor Type')
styled_motive = create_styled_table(motive_counts, 'Motive')

# Display tables in a 2x2 grid using grid_items from IPython
from IPython.display import display, HTML

# Create a more explicit grid structure with inline HTML
grid_html = """
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 100%;
    }
    .grid-item {
        width: 100%;
    }
</style>

<div class="grid-container">
    <div class="grid-item" id="table1"></div>
    <div class="grid-item" id="table2"></div>
    <div class="grid-item" id="table3"></div>
    <div class="grid-item" id="table4"></div>
</div>
"""

# First display the grid structure
display(HTML(grid_html))

# Then inject each table into its respective grid cell using JavaScript
for i, (table_id, styled_table) in enumerate([
    ("table1", styled_means),
    ("table2", styled_actor),
    ("table3", styled_context),
    ("table4", styled_motive)
]):
    # Convert styled table to HTML and inject into the grid
    table_html = styled_table.to_html()
    display(HTML(f"""
    <script>
        document.getElementById("{table_id}").innerHTML = `{table_html}`;
    </script>
    """))

# Alternative approach that works well in most Jupyter environments
from IPython.display import display_html
from IPython.core.display import HTML, display

def display_side_by_side(dfs, captions=None):
    """Display tables side by side in Jupyter."""
    if captions is None:
        captions = [''] * len(dfs)
    
    output = ""
    for df, caption in zip(dfs, captions):
        output += '<div style="flex: 50%; padding: 5px;">'
        output += f'<h4 style="text-align: center;">{caption}</h4>'
        output += df.to_html()
        output += '</div>'
    
    display_html(HTML('<div style="display: flex; flex-wrap: wrap;">'+output+'</div>'))

# Uncommenting this will provide another option if the grid approach doesn't work
"""
print("Top Row:")
display_side_by_side([styled_means, styled_context], 
                    captions=['Means of Attack', 'Attack Context'])

print("Bottom Row:")
display_side_by_side([styled_actor, styled_motive], 
                    captions=['Actor Type', 'Motive'])
"""

# Alternative approach using Matplotlib and Seaborn for better control of layout
# This is another option if you prefer plots over HTML tables

def plot_count_tables(df, variables, titles, nrows=2, ncols=2, figsize=(12, 10)):
    fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=figsize)
    axes = axes.flatten()
    
    for i, (var, title) in enumerate(zip(variables, titles)):
        counts = df[var].value_counts().reset_index()
        counts.columns = ['Category', 'Count']
        
        # Create bar plot
        sns.barplot(x='Category', y='Count', data=counts, ax=axes[i], color='skyblue')
        
        # Highlight Unknown in red if present
        if 'Unknown' in counts['Category'].values:
            unknown_idx = counts[counts['Category'] == 'Unknown'].index[0]
            unknown_bar = axes[i].patches[unknown_idx]
            unknown_bar.set_facecolor('red')
            unknown_bar.set_alpha(0.7)
        
        # Customize plot
        axes[i].set_title(title, fontsize=12, fontweight='bold')
        axes[i].tick_params(axis='x', rotation=45)
        axes[i].set_xlabel('')
        
    plt.tight_layout()
    plt.show()

# Uncomment to use the matplotlib/seaborn approach
'''
plot_count_tables(
    df,
    variables=['means_of_attack', 'attack_context', 'actor_type', 'motive'],
    titles=['Means of Attack', 'Attack Context', 'Actor Type', 'Motive']
)
'''

/var/folders/vs/3j3cdp2s1nn0lr6x50_9ycj00000gn/T/ipykernel_23155/2276398257.py:87: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython.display
  from IPython.core.display import HTML, display

"\nplot_count_tables(\n    df,\n    variables=['means_of_attack', 'attack_context', 'actor_type', 'motive'],\n    titles=['Means of Attack', 'Attack Context', 'Actor Type', 'Motive']\n)\n"