---
format: 
    html: 
        code-fold: true 
        embed-resources: true
---

In [9]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from matplotlib.colors import to_rgba
import seaborn as sns

df = pd.read_csv('../data/cleaned_security_incidents.csv')

In [14]:

# Function to create styled tables with "Unknown" highlighted in red
def create_styled_table(series_counts, title):
    # Convert to DataFrame for styling
    df_counts = series_counts.reset_index()
    df_counts.columns = ['Category', 'Count']
    
    # Define styling function
    def highlight_unknown(row):
        if row['Category'] == 'Unknown':
            return ['background-color: rgba(255, 0, 0, 0.2)']*len(row)
        else:
            return ['background-color: transparent']*len(row)
    
    # Apply styling
    styled_df = df_counts.style.apply(highlight_unknown, axis=1)
    
    # Add title and other formatting
    styled_df = styled_df.set_caption(title).set_table_styles([
        {'selector': 'caption', 'props': [('font-weight', 'bold'), 
                                         ('font-size', '1.1em'),
                                         ('text-align', 'center')]},
        {'selector': 'th', 'props': [('text-align', 'center'), 
                                    ('background-color', '#f2f2f2')]},
        {'selector': 'td', 'props': [('text-align', 'center')]}
    ])
    
    return styled_df

# Get value counts for each category
means_counts = df['means_of_attack'].value_counts()
context_counts = df['attack_context'].value_counts()
actor_counts = df['actor_type'].value_counts()
motive_counts = df['motive'].value_counts()

# Create styled tables
styled_means = create_styled_table(means_counts, 'Means of Attack')
styled_context = create_styled_table(context_counts, 'Attack Context')
styled_actor = create_styled_table(actor_counts, 'Actor Type')
styled_motive = create_styled_table(motive_counts, 'Motive')

# Display tables in a 2x2 grid using HTML
from IPython.display import display, HTML

# Create HTML for 2x2 grid layout
html_content = """
<style>
    .table-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;
    }
</style> \
"""

# Display the tables in a 2x2 grid
display(HTML(html_content))

print("Top Row: Means of Attack and Attack Context")
display(HTML('<div class="table-container">'))
display(styled_means, styled_context)
display(HTML('</div>'))

print("Bottom Row: Actor Type and Motive")
display(HTML('<div class="table-container">'))
display(styled_actor, styled_motive)
display(HTML('</div>'))

# Alternative approach using Matplotlib and Seaborn for better control of layout
# This is another option if you prefer plots over HTML tables

def plot_count_tables(df, variables, titles, nrows=2, ncols=2, figsize=(12, 10)):
    fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=figsize)
    axes = axes.flatten()
    
    for i, (var, title) in enumerate(zip(variables, titles)):
        counts = df[var].value_counts().reset_index()
        counts.columns = ['Category', 'Count']
        
        # Create bar plot
        sns.barplot(x='Category', y='Count', data=counts, ax=axes[i], color='skyblue')
        
        # Highlight Unknown in red if present
        if 'Unknown' in counts['Category'].values:
            unknown_idx = counts[counts['Category'] == 'Unknown'].index[0]
            unknown_bar = axes[i].patches[unknown_idx]
            unknown_bar.set_facecolor('red')
            unknown_bar.set_alpha(0.7)
        
        # Customize plot
        axes[i].set_title(title, fontsize=12, fontweight='bold')
        axes[i].tick_params(axis='x', rotation=45)
        axes[i].set_xlabel('')
        
    plt.tight_layout()
    plt.show()

# Uncomment to use the matplotlib/seaborn approach
'''
plot_count_tables(
    df,
    variables=['means_of_attack', 'attack_context', 'actor_type', 'motive'],
    titles=['Means of Attack', 'Attack Context', 'Actor Type', 'Motive']
)'''

Top Row: Means of Attack and Attack Context

Bottom Row: Actor Type and Motive

"\nplot_count_tables(\n    df,\n    variables=['means_of_attack', 'attack_context', 'actor_type', 'motive'],\n    titles=['Means of Attack', 'Attack Context', 'Actor Type', 'Motive']\n)"